body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 0 20px;
}

.square img {
    position: absolute;
    transition: transform 0.5s ease, left 0.5s ease, top 0.5s ease;
} 

header {
    background: linear-gradient(90deg, #333, #555);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.hero img {
    width: 100%;
    max-width: 400px;
    flex: 1;
}

.hero-content {
    padding: 20px;
    flex: 2;
}

.hero-content h2 {
    font-size: 2rem;
    color: #333;
}

.hero-content p {
    margin: 15px 0;
    font-size: 1.1rem;
}

.hero-content button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.hero-content button:hover {
    background-color: #555;
}

select {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    appearance: none; 
    cursor: pointer;
  }

  select:hover {
    background-color: #fff;
    border-color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  }

  select:focus {
    border-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
