body {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.square-container {
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(8, 20px);
    grid-template-rows: repeat(8, 20px);
    gap: 2px;
}

.square {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: white;
}