body {
    text-align: center;
    background-color: grey;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: 400px;
    height: 400px;
    border: 2px solid black;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.highlight {
    box-sizing: border-box;
    border: 3px solid yellow;
}

.chesspiece{
    width: 40px;
    height: 40px;
}

.error-message {
    color: red;
    background-color: #fdd;
    border: 1px solid red;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    position: absolute;
    z-index: 1000;
}

.square img {
    position: absolute;
    transition: transform 0.5s ease, left 0.5s ease, top 0.5s ease;
  } 